---
import Logo from "./Logo.astro";
---

<header id="landing-header" class="py-4 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white ">
    <div class="flex flex-grow basis-0">
    <Logo />
</div>

<nav>
    <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:py-2 [&>li>a]:inline-block [&>li>a]:px-4" >
        <li><a href="https://www.tesla.com/es_es/models">Model S</a></li>
        <li><a href="https://www.tesla.com/es_es/model3-choose">Model 3</a></li>
        <li><a href="https://www.tesla.com/es_es/modelx">Model X</a></li>
        <li><a href="https://www.tesla.com/es_es/modely">Model Y</a></li>
        <li><a href="https://www.tesla.com/es_es/powerwall">Powerwall</a></li>
        <li><a href="https://www.tesla.com/es_es/charging">Carga</a></li>
    </ul>
</nav>

<nav class="flex flex-grow justify-end basis-0">
    <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
    <li><a href="https://www.tesla.com/es_ES/support">Soporte</a></li>
    <li><a href="https://shop.tesla.com/es_es/category/lifestyle">Tienda</a></li>
    <li><a href="https://auth.tesla.com/es_es/oauth2/v1/authorize?redirect_uri=https%3A%2F%2Fwww.tesla.com%2Fteslaaccount%2Fowner-xp%2Fauth%2Fcallback&response_type=code&client_id=ownership&scope=offline_access%20openid%20ou_code%20email%20phone&audience=https%3A%2F%2Fownership.tesla.com%2F&locale=es-ES">Cuenta</a></li>
    <li><a href="">Menu</a></li>
    </ul>
</nav>

<div id="menu-backdrop" class={`absolute bg-black/5 backdrop-blur-lg rounded left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out opacity-0 -z-10`}>


</div>

</header>

<script>
    const listItem = document.querySelectorAll("#landing-Header li")
    const menuBackdrop = document.querySelector('#menu-backdrop') as HTMLElement

    listItem.forEach((item) => {
        item.addEventListener("mouseenter", () => {
            const { left, top, width, height } = item.getBoundingClientRect()
            const { clientHeight, clientWidth } = item

            menuBackdrop.style.setProperty("--left", `${left}px`)
            menuBackdrop.style.setProperty("--top", `${top}px`)
            menuBackdrop.style.setProperty("--width", `${width}px`)
            menuBackdrop.style.setProperty("--height", `${height}px`)

            menuBackdrop.style.opacity = "1"
            menuBackdrop.style.visibility = "visible"
        })

        item.addEventListener("mouseleave", () => {
            
            menuBackdrop.style.opacity = "0"
            menuBackdrop.style.visibility = "hidden"
        })

    })
</script>


<script>
    const header = document.querySelector('#landing-header') as HTMLElement
    const observerOption = {
        root: null, 
        rootMargin: '0px',
        threshold: 0.90
    }


    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            const { isIntersecting } = entry
            if (isIntersecting) {
                const color = entry.target.getAttribute('data-header-color')
                header.style.color = color
            }
        })
    }, observerOption)

    const sections = document.querySelectorAll(".Landing-section")
    sections.forEach(((section) => observer.observe(section)));
        
    
</script>